<!DOCTYPE html>
<html>
    <head>
        <title>Amane's first blog</title>
    </head>
<body>
    <header>
        <h1><a href="/">Welcome to Amane's blog!</a></h1>
    </header>
    
    <article>
        <time>published: 28.09.2021, 19:47</time>    
        <h2><a href="">My first post</a></h2>
        <p>It works!</p>
    </article>

    <article>
        <time>published: 28.09.2021, 19:50</time>    
        <h2><a href="">My second post</a></h2>
        <em>
            <p>It works!</p>
        </em>    
    </article>
    
    <ul>
        <li>This is the first thing to do</li>
        <li>This is the second thing to do</li>
    </ul>
    <footer><a href="/admin/">Take me to admin</a></footer>
</body>
</html>